<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<h1>Send SMS</h1>
{% csrf_token %}
<label for="phone">Phone:</label>
<input type="text" id="phone" name="phone" required><br>

<label for="message">Message:</label>
<textarea id="message" name="message" required></textarea><br>

<button type="button">Send SMS</button>
</body>
</html>
